.DS_Store
*Sketchy_DB*
.idea
*.iml
node_modules
\node_modules
/node_modules
node_modules/
.history/*
.history_*
old_test/*
*.vscode*
main.pem
connect.sh
serverdb2
.vstags
serverdb*
dbanalysis/tempCodeRunnerFile.py
*.pyc
*.xgb
*.err
*.out
*.csv
*.tsv
*.tmp
*.ndjson
package-lock.json
*.json

