.likert {
  width: 100%;

  .buttons-container {
    width: 100%;
    text-align: left;

    .buttons {
      display: inline-flex;
      justify-content: center;
      overflow: hidden;

      .button-container {
        width: 120px;

        @media screen and (max-width: 700px) {
          width: 60px;
        }

        @media screen and (max-width: 350px) {
          width: 55px;
        }

        //$border-color: rgba(#c5d8ea, 0.6);
        $border-color: rgba(#31363b, 0.3);

        .button {
          width: 100%;
          height: 36px;
          //color: $border-color;
          //color: rgba(#c5d8ea, 0.6);
          padding: 0;
          min-width: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          //border: 1px solid #f1f1f1;
          //border: 1px solid $border-color;
          margin: 0 0 10px;
          background: rgba(black, 0.05);
          border-radius: 0;
          border: 1px solid $border-color;
          border-left: none;

          &:hover {
            background: rgba(black, 0.1);
          }

          &.selected {
            background: rgba(#ffa886, 1);
            //background: rgba(black, 0.35);
          }
        }
        &:first-child .button {
          border-left: 1px solid $border-color;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        &:last-child .button {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
        &:first-child .label {
          text-align: left;
        }
        &:last-child .label {
          text-align: right;
        }
        .label {
          font-size: 10px;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }
}
