.rank-question {
  .rank-question-single {
    display: flex;
    margin-top: 20px;
    align-items: center;

    .field-name {
      text-transform: uppercase;
      font-size: 18px;
      min-width: 40px;
    }
  }
}

.rank-checkmark {
  margin-left: 8px;
}
